<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="com.change_vision.astah.ui.actionSets">
      <actionSet
            label="%action_set_label"
            visible="true"
            id="tweet-a-gram-plugin.actionSet">
         <menu
               id="testplugin"
               label="%menu_group"
               path="tool/testplugin">
         </menu>
         <menu
               id="twitter"
               label="%menu_group_twitter"
               path="tool/testplugin/twitter">
         </menu>
         <menu
               id="facebook"
               label="%menu_group_facebook"
               path="tool/testplugin/facebook">
         </menu>
         <action
			   label="%menu_label_twitter"
               class="dsk.tweet_a_gram.plugin.twitter.action.TweetAction"
               menubarPath="tool/testplugin/twitter/"
               id="tweet-a-gram-plugin-twitter-tweet">
         </action>
         <action
			   label="%menu_label_logout"
               class="dsk.tweet_a_gram.plugin.twitter.action.LogoutAction"
               menubarPath="tool/testplugin/twitter/"
               id="tweet-a-gram-plugin-twitter-logout">
         </action>
         <action
			   label="%menu_label_facebook"
               class="dsk.tweet_a_gram.plugin.facebook.action.TweetAction"
               menubarPath="tool/testplugin/facebook/"
               id="tweet-a-gram-plugin-facebook-tweet">
         </action>
         <action
			   label="%menu_label_logout"
               class="dsk.tweet_a_gram.plugin.facebook.action.LogoutAction"
               menubarPath="tool/testplugin/facebook/"
               id="tweet-a-gram-plugin-facebook-logout">
         </action>
     </actionSet>
   </extension>
</plugin>
