<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="com.change_vision.astah.ui.actionSets">
      <actionSet
            label="%action_set_label"
            visible="true"
            id="dsk.tweet-a-gram-plugin.actionSet">
         <menu
               id="tweet-a-gram-plugin"
               label="%menu_group"
               path="tool/tweet-a-gram-plugin">
         </menu>
         <action
			   label="%menu_label"
               icon="icons/sample.gif"
               class="dsk.tweet_a_gram.plugin.action.twitter.TweetAction"
               tooltip="%menu_tooltip"
               menubarPath="tool/tweet-a-gram-plugin/"
               id="tweet-a-gram-plugin-twitter-tweet">
         </action>
         <action
			   label="%menu_label_logout"
               icon="icons/sample.gif"
               class="dsk.tweet_a_gram.plugin.action.twitter.LogoutAction"
               tooltip="%menu_tooltip_logout"
               menubarPath="tool/tweet-a-gram-plugin/tweet-a-gram-plugin-twitter-tweet"
               id="tweet-a-gram-plugin-twitter-logout">
         </action>
         <action
			   label="%menu_label"
               icon="icons/sample.gif"
               class="dsk.tweet_a_gram.plugin.action.facebook.TweetAction"
               tooltip="%menu_tooltip"
               menubarPath="tool/tweet-a-gram-plugin/"
               id="tweet-a-gram-plugin-facebook-tweet">
         </action>
         <action
			   label="%menu_label_logout"
               icon="icons/sample.gif"
               class="dsk.tweet_a_gram.plugin.action.facebook.LogoutAction"
               tooltip="%menu_tooltip_logout"
               menubarPath="tool/tweet-a-gram-plugin/tweet-a-gram-plugin-facebook-tweet"
               id="tweet-a-gram-plugin-facebook-logout">
         </action>
     </actionSet>
   </extension>
</plugin>
